/*!

	Styles for *project name*
	By *your name here* (you@castironcoding.com)

*/

@import 'lib/normalize';
@import 'variables';
@import 'fonts';
@import 'mixins/index';
@import 'STACSS/index';
// If icons are used
// @import "icons";
@import 'components/index';
